replicas: 1
secret:
    enabled: true
    password: {{ requiredEnv "ES_CREDS_PASSWORD" }}
resources:
  requests:
    cpu: "100m"
    memory: "2Gi"
volumeClaimTemplate:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 10Gi
readinessProbe:
  failureThreshold: 3
  initialDelaySeconds: 60
  periodSeconds: 10
  successThreshold: 3
  timeoutSeconds: 5
service:
  enabled: true
  publishNotReadyAddresses: true
nodeAffinity: 
  requiredDuringSchedulingIgnoredDuringExecution:
    nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
            - node3-dev



lifecycle:
  postStart:
    exec:
      command:
        - bash
        - -c
        - |
          #!/bin/bash
          # Create ingest pipeline for nginx-url-converter
          sleep 40
          curl -X PUT "localhost:9200/_ingest/pipeline/nginx-url-converter-pipe" -H 'Content-Type: application/json' -d '{"description":"Json field extractor pipe from event.message","processors":[{"json":{"field":"message"}}]}'
