templates:
- |
    apiVersion: batch/v1
    kind: Job
    metadata:
        name: elastic-indexes-create-job-job
    spec:
        template:
            spec:
                containers:
                -   image: "curlimages/curl:latest"
                    imagePullPolicy: IfNotPresent
                    name: elastic-indexes-create-job-job
                    command: ["curl", 
                        "-XPUT", 
                        "-H", "Content-Type: application/json", 
                        "-d", "{\"settings\":{\"number_of_shards\":1,\"number_of_replicas\":0},\"mappings\":{\"properties\":{\"time_local\":{\"type\":\"date\"},\"remote_addr\":{\"type\":\"ip\"},\"remote_user\":{\"type\":\"text\"},\"request\":{\"type\":\"text\"},\"status\":{\"type\":\"integer\"},\"body_bytes_sent\":{\"type\":\"unsigned_long\"},\"request_time\":{\"type\":\"float\"},\"http_referrer\":{\"type\":\"text\"},\"http_user_agent\":{\"type\":\"text\"}}}}", 
                        "http://elasticsearch-master.elastic-system.svc.cluster01-dev.local:9200/{{ .Environment.Name }}-logs-shareurl",
                        "-v"
                        ]
                restartPolicy: Never
        backoffLimit: 1

