persistence:
  config:
    enabled: true
    storageClass: {{ .Environment.Name }}-storageclass-datastore1
    size: 1Gi
env:
  TZ: {{ .Values.defaults.timezone }}


service:
  main:
    type: NodePort
    ports:
      http:
        enabled: true
        nodePort: 32222

image:
  pullPolicy: IfNotPresent