controller:
  ingressClass: nginx
  config:
    ssl-protocols: "TLSv1.2 TLSv1.3"
    ssl-ciphers: "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384"
    http2-max-header-size: "32k"
    proxy-buffer-size: "16k"
    proxy-buffers-number: "4"
    ssl-session-tickets: "false"
    hsts: "true"
  extraVolumes:
    - name: cache-volume
      emptyDir:
        sizeLimit: 20Gi
  extraVolumeMounts:
    - mountPath: /tmp/nginx/client_body_temp_path
      name: cache-volume