ingress:
  main:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: cloudflare-cluster00
    hosts:
      - host: overseerr.local.koeff.com
        paths:
          - path: /
            pathType: Prefix
            service:
              name: overseerr
              port: 5055
    tls:
      - secretName: cloudflare-cluster00-overseerr
        hosts:
          - overseerr.local.koeff.com
