ingress:
  main:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: cloudflare-cluster00
    hosts:
      - host: prowlarr.local.koeff.com
        paths:
          - path: /
            pathType: Prefix
            service:
              name: prowlarr
              port: 9696
    tls:
      - secretName: cloudflare-cluster00-prowlarr
        hosts:
          - prowlarr.local.koeff.com
