ingress:
  main:
    enabled: true
    hosts:
      - host: qbittorrent.local.koeff.com
        paths:
          - path: /
            pathType: Prefix
            service:
              name: qbittorrent
              port: 8080
    tls:
      - secretName: cloudflare-cluster00-qbittorrent
        hosts:
          - qbittorrent.local.koeff.com
