ingress:
  main:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: cloudflare-cluster00
    hosts:
      - host: sonarr.local.koeff.com
        paths:
          - path: /
            pathType: Prefix
            service:
              name: sonarr
              port: 8989
    tls:
      - secretName: cloudflare-cluster00-sonarr
        hosts:
          - sonarr.local.koeff.com

# TODO: mount smb backup dir in /config/Backups/ 